html, body {
  background-color: #140000!important;
}

body {
  color: #cecab1!important;
}

label {
  display: block;
}

button {
  transition: all .15s ease;
}
button.is-primary {
  color: #000!important;
  background-color: #cb8e03!important;
}
button:hover {
  filter: brightness(115%)!important;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}